@using AutoMapper
@using GazpromNeftBlazorWebApplication.DTO
@using GazpromNeftBlazorWebApplication.Exceptions
@using GazpromNeftBlazorWebApplication.Models
@using GazpromNeftBlazorWebApplication.Services
@using GazpromNeftBlazorWebApplication.ViewModels
<div class="fields-enter-component__container">
    <EditForm Model="_model" OnValidSubmit="SubmitForm">
        <div class="fields-enter-component__buttons-container">
            <button type="submit" class="btn btn-danger">Удалить</button>
            <button type="button" @onclick="Cancel" class="btn btn-success">Отмена</button>
        </div>
    </EditForm>
</div>

@code {
    [Inject]
    public required IMapper Mapper { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    [Parameter]
    public required IndexUserModel UserModel { get; set; }
    private DeleteUserModel _model = new();
    [Inject]
    public required ApiBroker ApiBroker { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;
    private List<ValidationErrorModel> _errors = new List<ValidationErrorModel>();

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(BlazoredModal.Title)) 
            BlazoredModal.SetTitle("Редактирование пользователя");
        _model = Mapper.Map<IndexUserModel, DeleteUserModel>(UserModel);
    }

    private async Task SubmitForm()
    {
        if (await DeleteUser())
        {
            await BlazoredModal.CloseAsync(ModalResult.Ok(_model.Id));
        }
    }
    private async Task Cancel() => await BlazoredModal.CancelAsync();

    private async Task<bool> DeleteUser()
    {
        var uri = "http://localhost:5167/User";
        var dto = Mapper.Map<DeleteUserModel, DeleteUserDto>(_model);
        try
        {
            await ApiBroker.Delete<UserDto, DeleteUserDto>(uri, dto);
            return true;
        }
        catch (InternalServerErrorException isee)
        {
            Console.WriteLine(isee);
            var errorModal = Modal.Show<ErrorModal>("Произошла внутренняя ошибка сервера");
            var result = await errorModal.Result;
            if (result.Confirmed || result.Cancelled)
            {
                await BlazoredModal.CloseAsync(ModalResult.Ok());
            }
            return false;
        }
        catch (HttpRequestException hrex)
        {
            Console.WriteLine(hrex);
            var errorModal = Modal.Show<ErrorModal>("Произошла ошибка во время выполнения HTTP-запроса");
            var result = await errorModal.Result;
            if (result.Confirmed || result.Cancelled)
            {
                await BlazoredModal.CloseAsync(ModalResult.Ok());
            }
            return false;
        }

    }
}
